body {
  background-color: #2E0854; /* warna kuning cerah */
  font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah di baca */
  color: #50C878; 
}

.kartu-profil {
  width: 300 px;
  margin: 50 px auto; /* 50 px jarak atas bawah/, auto menengahkan kiri/kanan */
  padding: 20 px;
  background-color: cyan;
  border-radius: 15 px; /* membuat sudut menjadi melengkung */
  box_shadow: 0 4 px 8 px  rgba (200,80,120,1); /* efek bayangan */
  text-aligned: center;
}

.kartu-profil img {
  width: 150 px;
  border-radius: 50 %; 
}
