body {
     background-color: #2E0854; 
     font-family: Arial, sans-serif; 
     color:  #191970; 
} 
.kartu-profil {
       width:  300 ;
       margin:   50 auto; 
      padding: 20;
      background-color: magenta;
      border-radius: 15 ; 
      box-shadow: 0 4 8 rgba (0,0,0,0,1) 
}
.kartu-profil img {
        width: 150 ;
        border-radius: 50 ; 
       text-align: center ; 
}
.kartu-profil {
    width: 150 ;
    border-radius: 50 ; 
}
